.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.buttons{
    margin-top: 39px;
    margin-left: 5px; 
}

.ops{
    display: inline-flex;
    width: 100%;
}

.ownerButton{
    margin-top: 23px;
    margin-left: 5px;
}