.pName{
    margin-top: 1.5rem;
    display:flex;
    margin-right: 6%;  
}

.hover{
    cursor: pointer;  
}

.fs{
    font-size: large;
}

.btnOptions{
    background-color: #cc0000;
    color: black;
}

.line{
    border-bottom: solid 1px black;
}

.lineUp{
    display: inline-flex; 
}

.manLineName{
    margin-right: 6%;
}

.lowVolume{
    display: -webkit-inline-box
}
.updateAll{
    border: black solid 1px;
    width: 63%;
    height: 49%;
    margin-left: 19%;
    padding: 4% 3.5% 6% 3.5%;
    box-shadow: 2px 2px 5px #333;
    position: absolute;
    top: 14.5%;
    background: white;
    border-radius: 25px;
}


.lineUp{
    margin-bottom: 1%;
}

.inLine{
    display: inline-flex;
    background-color: lightgray;
}