.pName{
    margin-top: 1.5rem;
    display:flex;
    margin-right: 6%;  
}

.hover{
    cursor: pointer;  
}

.fs{
    font-size: large;
}

.btnOptions{
    background-color: #cc0000;
    color: black;
}

.line{
    border-bottom: solid 1px black;
}

.lineUp{
    display: inline-flex; 
}

.manLineName{
    margin-right: 6%;
}