.liquid{
     margin-left: 5px; 
}

.manLineName{
    margin-right: 6%;
}


.pName{
    margin-top: 1.5rem;
    display:flex;
    margin-right: 6%;  
}

.reqUnits{
    padding-left: 10%;
}

.point{
    cursor: pointer;
}

.btnOptions{
    background-color: #cc0000;
    color: black;
}

.lineUp{
    margin-bottom: 1%;
}

.lowVolume{
    display: -webkit-inline-box
}

.inLine{
    display: inline-flex;
    background-color: lightgray;
}