.liquid{
    margin-left: 5px;
}

.pName{
    margin-top: 2rem;
    display:flex;  
}

.reqUnits{
    padding-left: 10%;
}

.point{
    cursor: pointer;
}

.btnOptions{
    background-color: #cc0000;
    color: black;
}