.head{
    display: flex;
    font-weight: bolder;
}

.hangRight{
    float: right;
    margin-right: 2%;
    margin-top: -2%
}

.numSpace{
    margin-left: 2px;
}
.exampleHolder{
    height: 300px;
}

.tableDiv{
    height: 300px;
}
.shady{
    color: #1e9413;
}

.violation {
    background-color: #ef4444;
    border-left: 4px solid #ef4444; /* nice modern red */
}

.warningText{
    color: #FF5D2D
;
}